@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

.Home {
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  ),
  url(./images/homepage3.jpg) center,no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  margin-top: -20px; 
  overflow: hidden; // color: white;
  // opacity: 0.2;
}

div h1 {
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: 900;
  color: white;
  // text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  font-size: 10rem;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
// }

.btn-lg {
  color: purple;
  margin: 0;
  position: absolute;
  top: 88%;
  left: 45%;
}