body {
  font-size: 12px;
  background: #f5f5f5;
}

.ActivityCard {

  flex: 1;
  min-width: 0;
  min-height: 0;
  // display: flex;
 

  .activityImage {
    height: 180px;
    overflow: hidden;
    border-bottom: 1px solid #e6e6e6;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: 6px;
  }
  .starRating {
    font-size: 1.5em;
  }

  .title {
    word-wrap: break-word !important;
    word-break: break-word !important;
    overflow-wrap: break-word !important;
    font-weight: bold;
    margin-bottom: 6px;
    font-size: 12px;
    line-height: 1.3125em;
    position: relative;
    height: 2.625em;
    color:  #68156f;

  }

  .address {
    max-width: 100%;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    word-wrap: normal !important;
  }

  .pull-right {
    float: right;
    background-origin: none;
  }
 
  .activityFooter {
    border-top: 1px solid #e6e6e6;
    padding-top: 5px;
  }
}

.myCollectionFooter {
  border-top: 1px solid #e6e6e6;
  padding-top: 5px;
}

textarea {
  border: 1px solid #68156f;
	border-radius: 10px;
	height: 60px;
  width: 260px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0;
}

// fieldset {
//   position: relative;

fieldset>button.update{
    left: 11px;
    color: blue;
    // border-radius: 35px;
}
fieldset>button.remove{
  right: 11px;
  color: red;
  // border-radius: 35px;
}
// .thumbnail {
//   height: 100px;
// }