@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');

.OneActivity {
  margin-top: 70px;
}

.OneActivityName {
  font-family: 'Sawarabi Mincho', sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: #68156f;
  text-transform: uppercase;
}

.oneActivityDescription {
  font-size: 13px;
  line-height: 22px;
}

.oneActivityImage {
  width: 100%;
}

.oneActivityDescription {
  text-align: justify;
}

.tags {
  font-weight: bold;
  color: #68156f;
  font-family: 'Sawarabi Mincho', sans-serif;
  font-size: 15px
}

.shareButton {
  color: #68156f
}